* {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
}
body {
}
.goUp {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 2em;
  transition: all 0.3s ease;
  z-index: 10;
}
.goUp:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48em;
  background-color: #e0fbfc;
}
.button-container {
  display: flex;
  flex-direction: row;
}
.category-button {
  width: 8em;
  padding: 10px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.category-title {
  color: white;
  font-size: 86px;
}
.category-button:hover {
  background-color: #fff;
  border-radius: 40%;
  border: none;
  cursor: pointer;
}
.Nav {
  padding: 20px 0px;
  height: 3em;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 1);
  justify-content: space-between;
  align-items: center;
}

.login {
  background-color: #ff9900;
  border: none;
  padding: 10px;
  width: 5em;
  margin-right: 10px;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  transition: all 0.2s ease;
}
.login:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.sign-container {
  display: flex;
}
.category-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.logo {
  width: 12em;
}
.icon {
  width: 2.5em;
  height: 2.5em;
}
.icon:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.3s ease;
}
.main {
  display: flex;
  position: relative;
  width: 100%;
  height: 42em;
  justify-content: center;
  align-items: center;
}
.bg-image {
  position: absolute;
  opacity: 0.4;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pizza {
  position: absolute;
  right: 15em;
  width: 12em;
}
.about-text {
  color: white;
  font-family: monospace;
  font-size: 84px;
  font-weight: bold;
}
.about-p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: bold;
  width: 40em;
}
.home {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}
.percentage {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}
.padlock {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

/* PÁGINA 2 */

.cards-container {
  display: flex;
  position: relative;
  width: 80%;
  height: auto;
  flex-direction: column;
  justify-items: center;
  padding: 50px 100px;
  align-items: center;
  background-color: #235b75;
}
input {
  margin-top: 2em;
  justify-self: flex-start;
  outline: none;
  border: none;
  width: 50em;
  height: 2em;
  border-radius: 4px;
  padding: 10px;
}
.father {
  display: flex;
  flex-direction: row;
}
.filters {
  display: flex;
  width: 20%;
  background-color: rgba(240, 152, 52, 0.7);
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0px;
}
.filter-card {
  display: flex;
  color: white;
  font-weight: bold;
  flex-direction: column;
  font-size: 28px;
}
.filter-name {
  font-family: monospace;
  padding-left: 0.5em;
  font-size: 22px;
}
.sector-container {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 8em;
  margin: 10px;
  border-radius: 4px;
  padding: 20px;
}
.info-titulo {
  position: absolute;
  color: black;
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.info-descricao {
  left: 45%;
  position: absolute;
  width: 25em;
  height: 8em;
  color: black;
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.info-bar {
  background-color: rgb(13, 161, 229);
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0.2em;
  border-radius: 6px;
  width: auto;
  color: white;
  padding: 15px;
  height: 1em;
}
span {
  font-weight: bold;
  padding: 0px 10px;
}

/* PÁGINA 3 */

.main-object {
  display: flex;
  position: relative;
  width: 100%;
  height: 42.5em;
  flex-direction: column;
  justify-items: flex-end;
  align-items: flex-end;
  background-color: #235b75;
}
.canvas {
  display: flex;
  position: absolute;
  background-color: #fff;
  border: 6px;
  bottom: 0em;
  padding: 25px;
  left: 10%;
  width: 80%;
  justify-items: center;
  align-items: center;
  height: 38em;
  flex-direction: column;
}
.data-title {
}
.chart {
  border: 1px solid black;
}
.data-description {
  width: 30em;
}
