* {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body {
}
.goUp {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 2em;
  transition: all 0.3s ease;
  z-index: 10;
}
.goUp:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14em;
  background-color: #e0fbfc;
}
.button-container {
  display: flex;
  position: relative;
  flex-direction: row;
}
.category-logo {
  width: 8em;
  padding: 10px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.category-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 8em;
  padding: 10px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.category-title {
  color: white;
  font-size: 86px;
}
.category-logo:hover {
  background-color: #fff;
  border-radius: 40%;
  border: none;
  opacity: 0.4;
  cursor: pointer;
}

.category-logo:hover + .category-name {
  z-index: 4;
  opacity: 1;
}

.category-name {
  position: absolute;
  transition: all 0.2s ease;
  left: 22%;
  color: black;
  font-weight: bold;
  opacity: 0;
  top: 44%;
  z-index: -1;
}
.category-name:hover {
  z-index: 4;
  opacity: 1;
}

.Nav {
  padding: 20px 0px;
  height: 3em;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 1);
  justify-content: space-between;
  align-items: center;
}
.last-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 14em;
  height: 9em;
}
.login {
  background-color: #ff9900;
  border: none;
  padding: 10px;
  width: 5em;
  margin-right: 10px;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  transition: all 0.2s ease;
}
.login:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.sign-container {
  display: flex;
}
.category-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.logo {
  width: 12em;
}
.icon {
  width: 2.5em;
  height: 2.5em;
}
.icon:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.3s ease;
}
.main {
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 2em;
  height: 42em;
  justify-content: center;
  align-items: flex-start;
}
.bg-image {
  position: absolute;
  opacity: 0.7;
  z-index: -2;
  width: 100%;
  height: 58em;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pizza {
  position: absolute;
  right: 15em;
  width: 12em;
}
.about-text {
  color: rgb(255, 255, 255);
  font-family: "Red Hat Display", sans-serif;
  font-size: 84px;
  font-weight: bold;
}
.about-p {
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  width: 50em;
}
.home {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}
.percentage {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}
.padlock {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

/* PÁGINA 2 */

.cards-container {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-items: center;
  padding: 50px 100px;
  align-items: center;
  background-color: rgb(13, 206, 229);
}
input {
  margin-top: 2em;
  justify-self: flex-start;
  outline: none;
  border: none;
  width: 50em;
  height: 2em;
  border-radius: 4px;
  padding: 10px;
}
.contest {
  width: 2em;
  height: 2em;
}
.father {
  display: flex;
  flex-direction: row;
}
.filters {
  display: flex;
  width: 20%;
  background-color: rgba(240, 152, 52, 0.7);
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0px;
}
.filter-card {
  display: flex;
  color: white;
  font-weight: bold;
  flex-direction: column;
  font-size: 28px;
}
.filter-name {
  font-family: monospace;
  padding-left: 0.5em;
  font-size: 22px;
}
.sector-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 8em;
  margin: 10px;
  border-radius: 4px;
  padding: 20px;
}
.info-titulo {
  color: black;
  font-family: "Red Hat Text", sans-serif;
  font-weight: bold;
  width: 35em;
  font-size: 24px;
}
.info-descricao {
  left: 45%;
  width: 100%;
  top: 10%;
  height: 4em;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.info-bar {
  background-color: rgb(13, 161, 229);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  bottom: 1.8em;
  border-radius: 6px;
  width: 20.5em;
  color: white;
  right: 26.2em;
  padding: 5px 10px;
  height: 2em;
}
span {
  font-weight: bold;
  padding: 0px 10px;
}

/* PÁGINA 3 */

.main-object {
  display: flex;
  width: 100%;
  height: 42em;
  padding-top: 4em;
  flex-direction: column;
  justify-items: flex-end;
  align-items: center;
  background-color: rgb(13, 206, 229);
}
.canvas {
  display: flex;
  position: relative;
  justify-items: center;
  border-radius: 4px;
  background-color: #fff;
  width: 45%;
  height: 42em;
  align-items: center;
  flex-direction: row;
}
.data-title {
}
.chart {
  width: 25em;
}
.data-description {
  width: 30em;
}
.data-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
}
.data-filter {
  height: 49em;
  width: 20%;
}
.year-btn {
  border: none;
  outline: none;
  width: 8em;
  height: 4em;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 24px;
  background-color: #000;
  transition: all 0.2s ease;
}
.year-btn:hover {
  background-color: #fff;
}
